@charset "UTF-8";

#fundo{

    background-image: url('./../imagens/espaco.jpg');
    height:1000px;
    position: relative;
    
}

#conteudo{

    background-image: url('./../imagens/astronauta.png');
    background-size:  100% 100%;

    position:absolute;
    height: 200px;
    width: 400px;
    
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}